.topheader {
    background-color: darkgray;
    text-shadow: 8px;
    text-shadow: #000;
    text-align: center;
    color: black;
}

body {
    font-family: Arial;
    font-size: 17px;
}

.container {
    position: inherit;
    max-width: 400px;
    margin: 0 auto;
}

.container img {
    vertical-align: right;
}

.container .content {
    border-radius: 6px 2px;
    position: right;
    bottom: 0;
    background: #04AA6D;
    background: #04AA6D;
    color: aquamarine;
    width: 100%;
    padding: 20px;
}

body {
    margin: 0;
}

.div {
    display: flex;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: darkgrey;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #04AA6D;
    color: white;
}

.main_form {
    position: absolute;
    bottom: 100px;
    left: 50px;
    font-family: sans-serif;
    color: blanchedalmond;
    text-align: center;
    margin-bottom: 60px;
    width: 40%;
    background-color: rgb(73, 71, 71);
    border: 2px solid rgb(2, 2, 1);
    border-radius: 5px;
}

.l_btn {
    border: 2px solid rgb(2, 2, 1);
    padding: 10px 10px;
    border-radius: 2px;
}

.buttonload {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
}

.fa {
    margin-left: -12px;
    margin-right: 8px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: plum;
    color: white;
    text-align: center;
}

.footer-right {
    text-align: right;
    color: aliceblue;
    margin-right: 40px;
}

body {
    margin: 0;
}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    margin-top: 50px;
}

#p1 {
    text-align: start;
    float: left;
}